body { 
	background-color: gray;
	padding: 0px 30px;
	margin: 0px
}

header {
	background-color: lightgray;
	margin-top: 0px;
}

h1 {
	padding: 10px;
	margin: 0px;
}


.options ul {
	background-color: pink;
	width: 100%;
	float: left;
	list-style: none;
	padding: 5px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	}

.options li {
	display: inline;
	padding: 3px;
	padding-bottom: 3px;
	text-align: left;
}

#columns {
	width: 100%;
	display: inline;
	float: left;

}

.left_column {
	background-color: lightgreen;
	width: 63%;
	padding: 1%;
	float: left;
	height: 1000px;
}

.right_column {
	background-color: lightblue;
	width: 33%;
	padding: 1%;
	float: left;
	height: 1000px;
}

/*************************
	RESPONSIVE CSS
**************************/

/*** tablet and up *********/
@media (min-width: 768px) and (max-width: 1024px){

}


/*** small tablet *********/
@media (min-width: 600) and (max-width: 767){
	
}

/*** mobile *********/
@media (min-width: 320) and (max-width: 559){

}








