body {
	background-color: lightblue;
	border: 2px solid darkblue;
}

.sidebar {
	width: 30%;
	float: left;
	background-color: pink;
	padding: 0px 20px 0px 10px;
	margin: 10px;
}

.sidebar_header {
	padding: 0px 10%;
	font-weight: bold;
}


.prompt {
	font-style: italic;
	font-weight: bold;
	color: crimson;
}
